<!-- templates/login.html -->
{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<p>woo!</p>

<form method="post">
  {% csrf_token %}
{{form.username}}
{{form.password}}
<button type="submit">Login</button>
</form>


<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->


  {% for field in form %}
    <div>
      {{ field.label_tag }}<br>
      {{ field }}
      {% for error in field.errors %}
        <p> {{ error }} </p>
      {% endfor %}
    </div>

  {% endfor %}
  <button type="submit">Login</button>
</form>
{% endblock %}
