<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8" />
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png"> -->
  <!-- <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <!-- <link href="{% static 'assets/css/bootstrap.min.css" rel="stylesheet" /> -->
  <!-- <link href="{% static 'assets/css/now-ui-dashboard.css?v=1.1.2" rel="stylesheet" /> -->
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="{% static 'assets/demo/demo.css" rel="stylesheet" /> -->


  <link rel="data61-icon.jpg" sizes="76x76"  href="{% static 'assets/img/data61-icon.jpg' %}">
  <link rel="icon" type="image/png"  href="{% static 'assets/img/data61-icon.jpg' %}">
  <link rel="stylesheet"  href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet"  href="{% static 'assets/css/now-ui-dashboard.css' %}">
  <link rel="stylesheet"  href="{% static 'assets/demo/demo.css' %}">


</head>

<body class=" sidebar-mini ">
<div class="wrapper ">
<div class="sidebar" data-color="orange">
  <!--  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"  -->
  <div class="logo"> <a href="{% static '../admin_home' %} " class="simple-text logo-mini"> UN </a> <a href="#" class="simple-text logo-normal"> User Name </a>
    <div class="navbar-minimize">
      <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round"> <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i> <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i> </button>
    </div>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active"> <a href="#"> <i class="now-ui-icons design_app"></i>
        <p>Models</p>
        </a> </li>
      <li> <a href="{% static '../user_profile' %}"> <i class="now-ui-icons users_single-02"></i>
        <p>Profile</p>
        </a> </li>
        {% if  user.get_is_staff %}
          <li>
              <a href ="{% url 'upload_model:home' %}">
              <i class = "now-ui-icons files_paper"></i>
              <p>My Model</p>
              </a>
          </li>
      {% endif %}
      <li> <a href="{% url 'logout' %}"> <i class="now-ui-icons media-1_button-power"></i>
        <p>Log Out</p>
        </a> </li>
    </ul>
  </div>
</div>
<div class="main-panel">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary ">
  <div class="container-fluid">
    <div class="navbar-wrapper"> <a class="navbar-brand" href="#">Models</a> </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <div class="input-group-text"> <i class="now-ui-icons ui-1_zoom-bold"></i> </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header panel-header-sm"> </div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h3 class="card-title">Model 1 - <small class="description">Alexnet Dog Classifier</small> </h4>
        </div>
        <div class="card-body ">
            <!--Here -->
            <h4 class="card-title">Your data submission has been submitted on the blockchain </h4>
            <h4 class="card-title"> See below for all your results </h4>
            <h4 class="title">Rank {{Rank}} of {{Total}}</h2>
        </div>
      </div>
      <div class="content">
      <div class="row">
        <div class="col-lg-4">
          <!--Accuracy	Precision ,Recall	F1 Score-->
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Data Accuracy</h5>
              <h4 class="card-title">Accuracy</h4>
              <h1>{{Accuracy}}</h1>
            </div>
            <!--
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="lineChartExample"></canvas>
                </div>
              </div>
              -->
              <div class="card-footer">
                <div class="stats">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Data Precision</h5>
                <h4 class="card-title">Precision</h4>
                <h1>{{Precision}}</h1>
              </div>
              <!--
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
                </div>
              </div>
                -->
              <div class="card-footer">
                <div class="stats">
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Data Recall</h5>
                <h4 class="card-title">Recall</h4>
                <h1>{{Recall}}</h1>
              </div>
              <!--
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="barChartSimpleGradientsNumbers"></canvas>
                </div>
              </div>
              -->
              <div class="card-footer">
                <div class="stats">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Data F-score</h5>
                <h4 class="card-title">F-score</h4>
                <h1>{{Fscore}}</h1>
              </div>
              <!--
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
                </div>
              </div>
                -->
              <div class="card-footer">
                <div class="stats">
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Output from ML Model</h5>
                <h4 class="card-title">Result</h4>
                {% for image in images %}
                <img src='/static/{{image}}'/>
                {% endfor %}
              </div>
              <!--
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="barChartSimpleGradientsNumbers"></canvas>
                </div>
              </div>
              -->
              <div class="card-footer">
                <div class="stats">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

      <!-- here -->
  <footer class="footer">
    <div class="container-fluid">
      <nav>
        <ul>
          <li> <a href="#"> Creative Tim </a> </li>
          <li> <a href="#"> About Us </a> </li>
          <li> <a href="#"> Blog </a> </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright"> &copy;
        <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Designed by <a href="#" target="_blank">Invision</a>. Coded by <a href="#" target="_blank">Creative Tim</a>. </div>
    </div>
  </footer>
</div>
<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/moment.min.js' %}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static 'assets/js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="{% static 'assets/js/plugins/sweetalert2.min.js' %}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{% static 'assets/js/plugins/jquery.validate.min.js' %}"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="{% static 'assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="{% static 'assets/js/plugins/bootstrap-datetimepicker.js' %}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static 'assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static 'assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="{% static 'assets/js/plugins/fullcalendar.min.js' %}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{% static 'assets/js/plugins/jquery-jvectormap.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'assets/js/plugins/nouislider.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/now-ui-dashboard.min.js' %}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/demo/demo.js' %}"></script>

<script>
<!-- javascript init -->
chartColor = "#FFFFFF";
// General configuration for the charts with Line gradientStroke
gradientChartOptionsConfiguration = {
    maintainAspectRatio: false,
    legend: {
        display: false
    },
    tooltips: {
      bodySpacing: 4,
      mode:"nearest",
      intersect: 0,
      position:"nearest",
      xPadding:10,
      yPadding:10,
      caretPadding:10
    },
    responsive: 1,
    scales: {
        yAxes: [{
          display:0,
          gridLines:0,
          ticks: {
              display: false
          },
          gridLines: {
              zeroLineColor: "transparent",
              drawTicks: false,
              display: false,
              drawBorder: false
          }
        }],
        xAxes: [{
          display:0,
          gridLines:0,
          ticks: {
              display: false
          },
          gridLines: {
            zeroLineColor: "transparent",
            drawTicks: false,
            display: false,
            drawBorder: false
          }
        }]
    },
    layout:{
      padding:{left:0,right:0,top:15,bottom:15}
    }
};

ctx = document.getElementById('lineChart1').getContext("2d");

gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
gradientStroke.addColorStop(0, '#80b6f4');
gradientStroke.addColorStop(1, chartColor);

gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
gradientFill.addColorStop(1, "rgba(249, 99, 59, 0.40)");

myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Active Users",
            borderColor: "#f96332",
            pointBorderColor: "#FFF",
            pointBackgroundColor: "#f96332",
            pointBorderWidth: 2,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 1,
            pointRadius: 4,
            fill: true,
            backgroundColor: gradientFill,
            borderWidth: 2,
            data: [542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 630]
        }]
    },
    options: gradientChartOptionsConfiguration
});
</script>
<script>
$(document).ready(function() {
  // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
  demo.initChartPageCharts();
});
</script>
</body>
</html>
