<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="assets/img/data61-logo-black.png" sizes="76x76" href="assets/img/data61-logo-black.png">
  <link rel="icon" type="assets/img/data61-logo-black.png" href="assets/img/data61-logo-black.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
 <link href="{{ url_for('static',filename='font1.css') }}" rel="stylesheet" type= "text/css"/>
  <link href="{{ url_for('static',filename='font2.css') }}" rel="stylesheet" type= "text/css">
  <!-- CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/now-ui-dashboard.css') }}">

</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color= "black">

      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          UN
        </a>
        <a href="#" class="simple-text logo-normal">
          User Name
        </a>

    </div>

<div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{{ url_for('user_profile') }}">
              <p>Data & Models</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('user_profile') }}">
              <p>Profile</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('model_search') }}">
              <p>Model Search</p>
            </a>
          </li>
          <li class="active">
            <a href="{{ url_for('data_evaluation') }}">
              <p><font color="black">Data Evaluation & Similarity</font></p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('index') }}">
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
</div>

            <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">Data Evaluation & Similarity</a>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </nav>
<!-- End Navbar -->


                  <div class="panel-header panel-header-lg">
  <div class="header text-center">
      <h2 class="title">Rank {{rank}} of {{total}}</h2>
      <p class="category">Upload more data to earnt more rewards! <a target="_blank"></p>
  </div>

  <canvas id="bigDashboardChart"></canvas>


</div>


                  <div class="content">
                      <div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Data Evaluation</h5>
        <h4 class="card-title">Evaluation</h4>
        <h1>{{evaluation}}</h1>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="lineChartExample"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Data Similarity</h5>
        <h4 class="card-title">Similarity</h4>
        <h1>{{similarity}}</h1>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Score in %</h5>
        <h4 class="card-title">Score</h4>
        <h1>{{score}}</h1>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="barChartSimpleGradientsNumbers"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  </div>
            </div>
      </div>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
  <!-- Forms Validations Plugin -->
  <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}" type="text/javascript"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/demo.js') }}" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      demo.checkFullPageBackgroundImage();
    });
  </script>
</body>

</html>
