<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="assets/img/data61-logo-black.png" sizes="76x76" href="assets/img/data61-logo-black.png">
  <link rel="icon" type="assets/img/data61-logo-black.png" href="assets/img/data61-logo-black.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
 <link href="{{ url_for('static',filename='font1.css') }}" rel="stylesheet" type= "text/css"/>
  <link href="{{ url_for('static',filename='font2.css') }}" rel="stylesheet" type= "text/css">
  <!-- CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/now-ui-dashboard.css') }}">

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NKDMSK6');</script>
<!-- End Google Tag Manager -->

</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color= "black">
      <!--  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"  -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          UN
        </a>
        <a href="#" class="simple-text logo-normal">
          User Name
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{{ url_for('user_home') }}">
              <p>Data & Models</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('user_profile') }}">
              <p>Profile</p>
            </a>
          </li>
          <li class="active">
            <a href="{{ url_for('model_search') }}">
              <p><font color="black">Model Search</font></p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('data_evaluation') }}">
              <p>Data Evaluation & Similarity</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('index') }}">
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">Data & Models</a>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Model Search</h5>
                <p class="category">Check out ML models using the interactive map below</p>
              </div>
              <div class="card-body all-icons">
                <div class="row">
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">

                    </div>
                  </div>
                </div>
              </div>
      </div>

  <!--   Core JS Files   -->
  <script src="{{ url_for('static',filename='assets/js/core/jquery.min.js')}}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{{ url_for('static',filename='assets/js/plugins/jquery.validate.min.js')}}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static',filename='assets/js/plugins/bootstrap-notify.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/demo/demo.js')}}"></script>
  <script>
    $(document).ready(function() {
      demo.checkFullPageBackgroundImage();
    });
  </script>
</body>

</html>
